{% extends "mylab_base.html" %} {% load static %} {% block container%}

<link rel="stylesheet" href="{% static 'css/account.css'%}">
<link rel="stylesheet" href="{% static 'css/account-modal.css'%}">
<link rel="stylesheet" href="{% static 'css/loading.css' %}">


<div class="account-input-container">
    <div class="Login-modal account-modal-container">
        <button class="account-modal-close-btn" onclick="modalCloseHandler('.Login-modal')"><i class="fas fa-times"></i></button>
        <form method="POST" action="{% url 'mylab_account:login' %}" class="account-form login-form">
            {% csrf_token %} {% for field in LoginForm %} {{field}} {{field.errors}}{% endfor %}
            <button class="account-btn account-form-submit-btn login-btn"><i class="fas fa-arrow-right"></i></button>

            <div class="login-error invalid">
                <p class="login-error-text"></p>
            </div>
        </form>


    </div>



    <div class="Signup-modal account-modal-container">
        <button class="account-modal-close-btn" onclick="modalCloseHandler('.Signup-modal')"><i class="fas fa-times"></i></button>

        <form method="POST" action="{% url 'mylab_account:signup' %}" class="account-form signup-form">
            {% csrf_token %} {% for field in SignupForm %} {{field}} {{field.errors}}{% endfor %}
            <button class="account-btn account-form-submit-btn signup-btn">Register</button>

            <div class="username-error invalid">
                <p class="username-error-text"></p>
            </div>

            <div class="email-error invalid">
                <p class="email-error-text"></p>
            </div>

            <div class="password-error invalid">
                <p class="password-error-text"></p>
            </div>
        </form>
    </div>



    <div class="Find-Account-modal account-modal-container">
        <button class="account-modal-close-btn" onclick="modalCloseHandler('.Signup-modal')"><i class="fas fa-times"></i></button>

        <form method="POST" action="{% url 'mylab_account:findAccount' %}" class="account-form findaccount-form">
            {% csrf_token %} {% for field in FindAccountForm %} {{field}} {{field.errors}}{% endfor %}
            <button class="account-btn account-form-submit-btn findaccount-btn">Send Mail</button>

            <div class="findaccount-error invalid">
                <p class="findaccount-error-text"></p>
            </div>
        </form>
    </div>


</div>




<div class="account-btn-container">
    <div class="account-btn-box">
        <button class="modal-toggler account-btn" onclick="accountModalToggleHandler('.Login-modal')"> login </button>
        <button class="go-signup account-btn" onclick="accountModalToggleHandler('.Signup-modal')">signup</button>
        <button class="find-account account-btn" onclick="accountModalToggleHandler('.Find-Account-modal')">Find Account</button>
    </div>
</div>

<script src="{% static 'js/const.js' %}"></script>
<script src="{% static 'js/get-cookie.js' %}"></script>
<script type="text/javascript">
    var emailExistCheckURL = "{% url 'mylab_account:emailExistCheck' %}"
    var usernameExistCheckURL = "{% url 'mylab_account:usernameExistCheck' %}"
    var accountExistCheckURL = "{% url 'mylab_account:accountExistCheck' %}"
</script>
<script src="{% static 'js/signup-validator.js' %}">
</script>

<script src="{% static 'js/login-validator.js' %}">
</script>

<script src="{% static 'js/find-account-validator.js' %}">
</script>
<script src="{% static 'js/account-modal.js' %}"></script>
{% endblock %}