@font-face {
    font-family: "D";
    src: url("http://db.onlinewebfonts.com/t/dd32798ad43b887f093f144d8ac8e017.eot");
    /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/dd32798ad43b887f093f144d8ac8e017.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/dd32798ad43b887f093f144d8ac8e017.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/dd32798ad43b887f093f144d8ac8e017.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/dd32798ad43b887f093f144d8ac8e017.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/dd32798ad43b887f093f144d8ac8e017.svg#DEATHNOTE Font") format("svg");
    /* iOS 4.1- */
}

body {
    margin: 0px;
    padding: 0px;
}

.momentum-container {
    font-family: D;
    color: red;
    text-align: center;
}

.bgImage {
    margin: 0px;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
    background-image: url("../images/DeathNote_L.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}

.widget-container {
    position: fixed;
    top: 10px;
    left: 10px;
}

.js-time {
    margin: 0px;
}

.js-clock {
    font-family: D;
    font-size: 100px;
    margin: 0px;
}

.js-toDoForm {
    display: inline;
}

input {
    color: white;
    background: transparent;
    border: none;
    font-family: D;
    font-size: 20px;
    border-bottom: 1px solid red;
    text-align: center;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

input:focus {
    outline: none;
    font-size: 40px;
    margin-left: 0px;
    margin-top: 100px;
    margin-bottom: 100px;
    background: transparent;
    border: none;
    border-bottom: 1px solid red;
}

.toDoText {
    transition-duration: 1s;
}

.deleteToDo {
    background: transparent;
    border: none;
    font-size: 50px;
    font-family: D;
    color: red;
    transition-duration: 0.5s;
}

.deleteToDO:hover {
    color: white;
}

.crossLine {
    text-decoration: line-through;
    transition-duration: 0.5s;
    color: white;
    animation: strike 4s linear;
}

.js-country-info {
    margin: 0px;
    font-size: 30px;
}

.js-greetings {
    margin-bottom: 40px;
    font-size: 50px;
}

.js-toDoList {
    margin: 0px;
    text-align: center;
    font-size: 50px;
    overflow: hidden;
}

.toDo {
    display: block;
    overflow: auto;
    transition-duration: 0.5s;
}

.form {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    height: 100%;
    margin: 0px;
}