.select-lab {
    overflow: auto;
    text-align: center;
    font-size: 100px;
}



.lab-container {
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
}

.lab-container>.lab {
    float: left;
}

.lab {
    color: rgb(96, 190, 134);
    margin: 60px;
    width: 300px;
    height: 300px;
    border: none;
    top: 40%;
}

.lab:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.lab-link {
    position: relative;
    top: 30%;
    text-decoration: none;
}

.logo {
    width: 0%;
    height: 0%;
    animation: bigger 0.5s ease forwards;
}

@keyframes bigger {
    0% {}
    100% {
        width: 40%;
        height: 40%
    }
}

.lab-name {
    font-size: 50px;
}